.header{
    display: block;
    text-align: right;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-left: 15px;
}
.page{
    display: inline-block;
    padding-top: 40px;
    font-family: 'lexend';
    padding-right: 60px;
    color:black;
    text-decoration: none;
}
.page:hover{
    color:darkolivegreen
}
.logo{
    float:left;
}
.logo-tab{
    max-width: 35%;
    max-height: auto;
    text-align: left;
    float:left;
    padding-bottom: 20px;
}
.welcome{
    display: inline-block;
    padding: 25 0;
}
.pfp{
    float: left;
    margin-left: 20%;
    max-width: 25%;
    max-height: auto;
}
.welcomeText{
    float: right;
    margin-right: 5%;
    padding: 10% 0;
}

@font-face {
    font-family: 'lexend';
    src: url(src/Lexend_Giga/static/LexendGiga-Regular.ttf);
}
.enter, h2, h3{
    font-family: 'lexend';
    color:darkolivegreen;
    text-decoration: none;
}
/*
body{
    background-image: url(src/images/bg1.png);
    color: #FFFFFF;
    background-size:100%;
}*/