.header{
    display: block;
    text-align: right;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-left: 15px;
}
.page{
    display: inline-block;
    padding-top: 40px;
    font-family: 'lexend';
    padding-right: 60px;
    color:black;
    text-decoration: none;
}
.page:hover{
    color:darkolivegreen
}
.logo{
    float:left;
}
.logo-tab{
    max-width: 35%;
    max-height: auto;
    text-align: left;
    float:left;
    padding-bottom: 20px;
}

@font-face {
    font-family: 'lexend';
    src: url(../Lexend_Giga/static/LexendGiga-Regular.ttf);
}
href, h2, h3{
    font-family: 'lexend';
    color:black;
}
.resume{
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    max-height: auto;
}
body{
    text-align: center;
    background-color: antiquewhite;
}